<head>
    <style>
        h1{
            text-align:center;
            padding-top:20px;
        }
      
    </style>   
</head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<h1 >Update Task</h1>
<hr  style="height:3px;border-width:0;color:gray;background-color:gray" >
<form method='POST' action='' enctype="multipart/form">
    {% csrf_token %}
    {{form.as_p}}

    <button  type="submit">update</button>
</form>    <img src="{{user.profile.profile_pic.url}}"width="100">